body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    overflow-x: hidden;
    overscroll-behavior: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-left: 20px; /* Add margin to the left side of text */
    margin-right: 20px; /* Add margin to the right side of text */
}

/* ==== GENERAL HEADER ------------------------------ */

header {
    /* background-image: url('images/black-paper.png'); */
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 0.75em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between; /* Add space between the two divs */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-left {
     display: flex;
     align-items: center;
}

header img {
    width: 45px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 2.3em;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the far right */
    margin-bottom: 5px;
}

.header-right p {
    margin-bottom: 5px; /* Adjust the margin-bottom value to reduce spacing */
}

/* ==== NAV BAR ------------------------------ */

nav {
    background-image: url('images/gold-4.png');
    background-color: #eed492;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    position: sticky;
    padding-left: 20px;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px; /* Previously was 14px */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    padding-left: 30px;
    padding-right: 30px;
}

nav a img {
    width: 15px; /* Reduced width of the custom icon/image */
    height: auto;
    margin-right: 5px; /* Add some spacing between the icon/image and text */
}

nav a:hover {
    background-color: #cad4d8;
}

nav a.active {
    border: 2.5px solid #000; /* Black border */
    padding: 5px 10px; /* Add padding to create space between text and border */
    border-radius: 4px; /* Optional: Rounded corners for the border */
    color: #000; /* Optional: Change the text color */
    font-weight: bold; /* Optional: Make the text bold */
    background-color: #eed492; /* Optional: Background color to highlight the link */
    margin-top: 6px; /* Adjust as needed */
    padding-left: 30px;
    padding-right: 30px;
}

/* ==== SOCIALS ------------------------------ */

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons p {
    margin: 5px 0;
    color: #eed492;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.social-icons p:hover {
    text-decoration: underline;
}

.social-icons p img.social-icon {
    width: 20px; /* Adjust the size as needed */
    height: auto;
    margin-left: 12px;
}

/* ==== HEADER SEARCH BAR ------------------------------ */

.result-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.search-container {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

#search-results-container {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 0;
    right: 0;
    z-index: 1001; /* Make sure it's above the hero image */
}

.search-container input[type=text] {
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #eed492;
    font-size: 14px;
    padding-left: 10px; /* Hard coded */
}

.search-container input[type = 'text']::placeholder {
    color: #eed492;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}

.search-container button {
    padding: 5px 10px;
    background-color: #1d1d1d; /* previously #333 */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #555;
}

.search-results {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 1em; /* Previously 15px */
    margin-top: 20px;
    background-color: #eed492;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Style adjustments for the search results */
.search-results {
    position: relative; /* Ensure it's positioned within its container */
    z-index: 1002; /* Ensure it's on top */
    margin: 20px auto; /* Center and add spacing as needed */
    max-width: 800px; /* Adjust width as needed */
}

.search-results h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: black;
    color: #eed492;
    font-size: 16px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 15px;
}

.search-results h3 {
    display: inline;
    vertical-align: middle;
    margin: 0;
    color: black;
    font-size: 16px;
}

.search-results p {
    color: black;
    font-size: 14px;
}

.search-button, .clear-button {
    padding: 5px 10px; /* Set padding for the button */
    margin-top: 20px; /* Add margin to the top of the button */
    background-color: #000; /* Set background color */
    color: #eed492; /* Set text color */
    border: none; /* Remove border */
    border-radius: 3px; /* Add border radius */
    cursor: pointer; /* Set cursor to pointer */
    position: absolute; /* Set position to absolute for positioning the button */
    bottom: 10px; /* Set distance from the bottom */
    right: 10px; /* Set distance from the right */
    font-family: 'Montserrat', sans-serif;
}

.search-button:hover, .clear-button:hover {
    background-color: #333;
}

.search-icon {
    width: 13px;
    height: 13px;
}

/* ==== MAIN TEXT ------------------------------ */

main {
    padding: 1em;
    position: relative;
    width: 100%;
    color: #E4E4E0;
}

/* ==== FOOTER ------------------------------ */

footer {
    background-color: #000;
    color: #eed492;
    text-align: center;
    /* padding: 1em 0; /* Adjust padding to accommodate new content */
    position: relative;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
}

footer p {
    font-size: 14px; /* Ensure that paragraphs within the footer also use 13px font size */
    color: #eed492;
}

footer .time-spent p {
    font-size: 14px; /* Set the font size for the time-spent paragraph */
}

/* ==== COUNTER ------------------------------ */

.visitor-counter {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.time-spent {
    margin-top: 10px; /* Adjust margin if needed */
    font-size: 12px;
    color: #eed492; /* Ensure the text color is readable */
}

/* ==== SPOTLIGHT STYLING (BORROWED/MODIFIED FROM RESUME.CSS) ------------------- */

.image-background {
    background-image: url('images/black-paper-v.png');
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
}

p {
    color: white;
}

h2 {
    background-color: #eed492; /* Black background */
    color: #000; /* Gold text color */
    padding: 3px 10px; /* Reduced padding for a smaller box */
    margin: 0; /* Remove default margins */
    border-radius: 0; /* Sharp corners */
    display: inline-block; /* Make the background only as wide as the text */
    /* margin-left: 20px; */
    font-size: 20px;
}

/* ==== PROJECT-RELATED FORMATTING ---------------------- */

/* CapTech Consulting & Description class */
.project-header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if needed) */
}

/* CapTech Consulting */
.project-header h2 {
    background-color: #eed492; /* Background color */
    color: #000; /* Text color */
    padding: 3px 10px; /* Padding for the h2 */
    margin: 0; /* Remove default margins */
    border-radius: 0; /* Sharp corners */
    font-size: 20px; /* Previously 24px */
    margin-top: 25px;
    margin-bottom: 0px;
}

/* Description */
.project-header h3 {
    color: #eed492;
    font-size: 18px !important; /* Previously 20px */
    margin-bottom: 30px;
}

/* ==== ------------------ */

.project-details {
    padding: 2em;
    color: white;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    /* margin-left: 20%;
    margin-right: 20%; */
}

.project-details h3 {
    font-size: 20px !important;
    color: #000; /* Gold color */
    background-color: #eed492;
    padding: 3px 10px;
    border-radius: 0;
    margin: 0;
    margin-top: 25px; /* Previously was 25px; section header spacing */
    margin-bottom: 35px;
}

.project-details p {
    font-size: 1.2em;
}

.video-container {
    text-align: center;
    margin: 2em 0;
}

.video-container iframe {
    width: 100%;
    max-width: 800px; /* Adjust size as needed */
    height: 450px; /* Adjust size as needed */
}

.project-sections {
    margin: 2em 0;
}

section {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333; /* previously #ddd */
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.section h4 {
    font-size: 1.5em;
    color: #eed492; /* Gold color */
}

.section p {
    font-size: 1em;
}

.section img {
    max-width: 100%;
    height: auto;
}

/* ==== SLIDESHOW --------------------------------- */

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* Hide all images by default */
    width: 100%;
}

.nav-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ==== SKILLS SNAPSHOT -------------------------- */

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-snapshot {
    margin-bottom: 20px;
    width: 47%; /* Adjust the width to fit two columns with space in between */
    background-color: #000;
    padding: 10px;
    margin-bottom: 20px; /* Add space between rows */
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    margin: 0 1% 20px 1%;
}

.skill-icon img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

.skill-details {
    flex: 1;
}

.skill-name {
    font-size: 16px !important;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 15px;
    margin-top: 0;
}

.proficiency-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.bar {
    flex-grow: 1; /* Allow the bars to grow equally */
    height: 8px;
    background-color: #333; /* Dark black color for uncolored bars */
    border-radius: 0;
    margin-right: 5px; /* Adjust spacing between bars */
}

.bar:last-child {
    margin-right: 15px; /* Remove margin from the last bar */
}

.bar.colored {
    background-color: #eed492; /* Gold color for colored bars */
    height: 10px;
}

.proficiency-level {
    font-size: 16px !important;
    color: #eed492; /* Gold color for text */
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
    font-style: italic;
}

/* ==== NON-TECHNICAL SKILLS ------------------------ */

.four-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-box {
    width: 32%; /* Adjust width to fit 4 columns */
    background-color: #000;
    padding: 10px;
    margin-bottom: 20px; /* Add space between rows */
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Vertical centering */
    padding-left: 20px;
    padding-right: 20px;
}

.column-box img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    margin-right: 25px;
    /* Removed padding to avoid affecting alignment */
}

.column-box p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Keep text color as white */
    line-height: 1.5em; /* Adjust if needed to ensure proper alignment */
}

/* ==== ABOUT ME SECTION (NO TIMELINE) --------------------------------- */

.about-section {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-left: 12%;
    margin-right: 12%;
}

.photo-container {
    /* flex: 1; /* Takes up 1/3 of the space */
    margin-right: 20px; /* Adds some space between the image and the text */
}

.photo-container img {
    /* max-width: 100%; */
    height: 275px; /* Previously 250px x 250px */
    width: 275px;
    /* border-radius: 50%; /* Makes the image circular */
    display: block;
    /* transform: translateY(15%); /* New addition! (hard-coded) */
}

.info-container {
    /* flex: 2; /* Takes up 2/3 of the space */
    margin-top: -30px;
}

p.description {
    margin-bottom: 30px; /* Adds space below the description */
    margin-left: 30px;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    color: #eed492;
}

.important-info {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.important-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 48%; /* Two columns */
}

.important-info ul li {
    margin-bottom: 20px; /* Space between each list item */
}

.important-info ul li:last-child {
    margin-bottom: 0; /* Remove the margin for the last list item */
}

.bullet-header {
    display: flex;
    align-items: center;
}

.bullet-header img {
    width: 14px; /* Customize the size of the bullet image */
    height: auto;
    margin-right: 10px; /* Space between bullet image and header */
}

.bullet-header h4 {
    margin: 0; /* Remove default margin */
    font-size: 18px;
    color: #eed492;
}

.important-info ul li p {
    margin-top: 15px; /* Space between header and text */
    margin-left: 30px; /* Indentation for text under header */
    font-size: 16px;
    text-align: left;
}


.additional-text {
    margin-top: 20px;
}

/* ==== EDUCATION SECTION ------------------------- */

/* Wraps the cards and controls layout */
.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for card */
.education-card {
    width: 47%; /* Adjust to fit two columns with space in between */
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    margin: 0 1% 20px 1%;
}

/* Allows image to take up full width of the card */
.education-image-gt img {
    /* width: 50%; */
    border-radius: 5px 5px 0 0; /* Rounded corners at the top */
    height: 120px;
    width: 120px;
    padding-top: 20px;
}

.education-image-lambert img {
    /* width: 50%; */
    border-radius: 5px 5px 0 0; /* Rounded corners at the top */
    height: 120px;
    width: 200px;
    padding-top: 20px;
}

.education-details {
    padding: 15px;
}

.institute-name {
    font-size: 18px;
    font-weight: bold;
    color: white !important;
    margin-bottom: 10px;
}

.education-points {
    margin-top: 10px;
    /* padding-left: 0;
    /* padding-left: 20px; /* Indent bullet points */
    font-size: 16px;
    text-align: left;
    list-style-type: none;
}

.education-points li {
    margin-bottom: 10px;
    color: white; /* Gold color for the bullet points */
    position: relative;
    padding-left: 30px; /* Space for the bullet */
}

.education-points li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
    width: 10px; /* Adjust this to your desired bullet size */
    height: 10px; /* Adjust this to your desired bullet size */
    background-image: url('images/square.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==== TIMELINE SECTION ----------------------- */

/* .timeline-container {
    margin-top: 50px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
} */

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 60px; /* Add padding to ensure there's space for the images */
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #333;
}

.timeline-point {
    width: 30%;
    text-align: center;
    position: relative;
}

.timeline-point h4 {
    font-size: 18px;
    margin-bottom: 40px; /* Previously 50px */
    color: #eed492;
}

.timeline-point p {
    font-size: 16px;
    margin-top: 60px; /* Previously 30px */
}

.timeline-point::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #eed492;
    border-radius: 50%;
    margin-top: -6px; /* Center dots on the line */
}

/* Left arrow image */
.timeline-left-image {
    position: absolute;
    left: -30px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it stays on top */
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

/* Right arrow image */
.timeline-right-image {
    position: absolute;
    right: -30px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it stays on top */
    width: 16px;
    height: 16px;
    margin-top: 4px;
}


/* Media Support */

@media (max-width: 768px) {
    .timeline {
        padding-top: 30px; /* Adjust padding for smaller screens */
        padding-bottom: 30px; /* Adjust padding for smaller screens */
    }

    .timeline-point h4 {
        margin-bottom: 15px; /* Adjust spacing for smaller screens */
    }

    .timeline-point p {
        margin-top: 15px; /* Adjust spacing for smaller screens */
    }
}

/* ==== TESTIMONIALS SLIDE SHOW ------------------------- */

/* Container to center the slideshow and set dimensions */
.testimonial-container {
    position: relative;
    max-width: 900px;
    margin: auto;
    overflow: hidden; /* Hide overflow to ensure smooth sliding */
    width: 100%;
}

/* Slideshow wrapper to hold the slides */
.testimonial-slideshow {
    display: flex; /* Arrange slides in a row */
    transition: transform 1.5s ease; /* Smooth transition for sliding effect */
    width: 100%;
}

/* Style individual slides */
.testimonial-slide {
    flex: 1 0 100%; /* Full width for each slide */
    box-sizing: border-box; /* Ensure padding/margin is included in the width */
}

/* Style the image to be responsive */
.testimonial-slide img {
    width: 100%;
    border-radius: 10px;
}

/* Dots container */
.testimonial-dots {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Dots styles */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: #eed492;
}

/* Archives (timeline ends are lines instead of arrows) */

/* .timeline-left-image {
    position: absolute;
    left: -15px; /* Adjust as needed */
    /* top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it stays on top */
    /* width: 32px;
    height: 32px;
}

/* Right arrow image */
/* .timeline-right-image {
    position: absolute;
    right: -15px; /* Adjust as needed */
    /* top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it stays on top */
    /* width: 32px;
    height: 32px;
} */